* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, sans-serif;
    font-size: 16px;
    color: #333;
    background-color:  #FFE8D9;
    display: flex;
}

.toggle-btn {
    position: fixed;
    top: 10px;
    left: 10px;
    background: transparent;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
}

aside {
    position: fixed;
    top: 0;
    left: -80px;
    width: 80px;
    height: 100%; 
    background: linear-gradient( #FFE8D9); 
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 20px;
    transition: left 0.3s ease-in-out;
}

aside.active {
    left: 0; 
}


aside.active {
    left: 0; 
}

nav {
    border-left: 1px solid #333; 
    border-right: 1px solid #333; 
    width: 100%;
    height: 100vh; 
    position: absolute;
    top: 0; 
}



nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    margin-top: 80px;
}

nav li {
    width: 100%;
    text-align: center;
}

nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

nav a img {
    width: 30px;
    height: 30px;
    transition: transform 0.3s ease-in-out;
}

nav a:hover img {
    transform: scale(1.2);
}

main {
    margin-left: 20px;
    padding: 20px;
    transition: margin-left 0.3s ease-in-out;
}

aside.active + main {
    margin-left: 100px;
}


.card-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


.card {
    margin-top: 3px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 1208px;
    height: 90px;
    align-items: center;
}

.item-name {
    width: 150px;
    height: 50px;
    padding: 10px;
    margin-left: 60px;
    background-color: #b98036;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.item-name:hover {
    background-color: #e29e46;
}

.add-item {
    width: 150px;
    height: 50px;
    padding: 10px;
    margin-left: 30px;
    background-color: #b98036;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.add-item:hover {
    background-color: #e29e46;
}

.search{
    width: 150px;
    height: 51px;
    padding: 10px;
    margin-left: -5px;
    background-color: #b98036;
    color: white;
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 16px;
}

.card input {
    height: 50px;
    margin-left: 30px;
    padding: 20px;
    background-color: #ebe2d5;
    border: 1px solid #ccc;
    width: 520px;
}

.card2 {
    margin-top: 3px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 1208px;
    height: 400px;
    text-align: center;
}
